.header {
  padding-top: 40px;
  padding-bottom: 20px;

  &__row {
    display: flex;

    img {
      padding-left: 10px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-left: 0;
      }
    }
  }
}
